<mat-toolbar>
    <mat-toolbar-row>
        <span>Numbers</span>
    </mat-toolbar-row>
</mat-toolbar>
<table class="center">
    <tr>
        <th>Hiragana / Katakana</th>
        <th>Romaji</th>
        <th>Meaning</th>
        <th>Kanji</th>
    </tr>
    <tr>
        <td id="lang">いち </td>
        <td>ichi</td>
        <td> 1</td>
        <td>一</td>
    </tr>
    <tr>
        <td id="lang">に</td>
        <td>ni</td>
        <td>2</td>
        <td>二</td>
    </tr>
    <tr>
        <td id="lang">さん </td>
        <td>san</td>
        <td>3</td>
        <td>三</td>
    </tr>
    <tr>
        <td id="lang">よん / し</td>
        <td>yon / shi</td>
        <td>4</td>
        <td>四</td>
    </tr>
    <tr>
        <td id="lang">ご</td>
        <td>go</td>
        <td>5</td>
        <td>五</td>
    </tr>
    <tr>
        <td id="lang">ろく</td>
        <td>roku</td>
        <td>6</td>
        <td>六</td>
    </tr>
    <tr>
        <td id="lang">なな / しち</td>
        <td>nana / shichi</td>
        <td>7</td>
        <td>七</td>
    </tr>
    <tr>
        <td id="lang">はち</td>
        <td>hachi</td>
        <td>8</td>
        <td>八</td>
    </tr>
    <tr>
        <td id="lang">きゅう / く</td>
        <td>kyū / ku</td>
        <td>9</td>
        <td>九</td>
    </tr>
    <tr>
        <td id="lang">じゅう</td>
        <td>jū</td>
        <td>10</td>
        <td>十</td>
    </tr>
    <tr>
        <td id="lang">じゅういち</td>
        <td>jūichi</td>
        <td>11</td>
        <td>十一</td>
    </tr>
    <tr>
        <td id="lang">じゅうに</td>
        <td>jūni</td>
        <td>12</td>
        <td>十二</td>
    </tr>
    <tr>
        <td id="lang">じゅうよん</td>
        <td>jūyon</td>
        <td>14</td>
        <td>十四</td>
    </tr>
    <tr>
        <td id="lang">にじゅう</td>
        <td>nijū</td>
        <td>20</td>
        <td>二十</td>
    </tr>
    <tr>
        <td id="lang">さんじゅう</td>
        <td>sanjū</td>
        <td>30</td>
        <td>三十</td>
    </tr>
    <tr>
        <td id="lang">三十</td>
        <td>sanjūichi</td>
        <td>31</td>
        <td>三十一</td>
    </tr>
    <tr>
        <td id="lang">ひゃく</td>
        <td>hyaku</td>
        <td>100</td>
        <td>百</td>
    </tr>
    <tr>
        <td id="lang">せん</td>
        <td>sen</td>
        <td>1000</td>
        <td>千</td>
    </tr>
</table>
