
<div class="grid-container">
    <mat-toolbar>
        <mat-toolbar-row>
            <span>Hiragana & Katakana</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div>
        <p style="text-indent: 2em;text-align: justify;">
            Hiragana and katakana are the two syllabaries in Japanese. Hiragana is used to form the grammar of the
            sentence
            and katakana is used primarily to write words that have been imported from other languages, e.g. coffee,
            table,
            and so forth. You can dispense with learning katakana for a little while, but hiragana is absolutely
            essential.
            The most popular study book used at Japanese language schools in Japan—Minna no Nihongo—does not use romaji
            and
            assumes the student can read hiragana from the start. This guide, too, does not use romaji except to show
            the
            phonetics below.</p>
        <br>
        <ul style="list-style-type:none;">
            <li>
                <h2>Hiragana</h2>
                <p>Hiragana is the main syllabary containing a total of 46 base syllables, some of which can be altered
                    slightly or combined to create the 100 or so phonetics in the language. The base syllables are show
                    in the table below. You should note the structure of the table as this will be important when we
                    start conjugating verbs.</p>
                <img src="assets/hiragana.png" class="writing_img" alt="hiragana characters">
            </li>


            <li>
                <h2>Katakana</h2>
                <p>Today katakana is the script used for the innumerable foreign words that have crept into the language
                    over time. As mentioned before, katakana contains no new syllables—it is just a different way of
                    writing the hiragana syllables. The base syllables are given below.</p>
                <img src="assets/katakana.png" class="writing_img" alt="katakana characters">
            </li>

        </ul>
    </div>
</div>

