/*mat-toolbar{
  margin-top: 20px;
  background-color: transparent;
  text-align: center;
  margin-right: 50px;
}*/
.center {
    margin-left: auto;
    margin-right: auto;
  }
  
  span {
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: transparent;
    color: rgb(5, 87, 80);
    /*font-weight: bold;*/
    font-size: 30px;
  }
  
  table {
      table-layout: fixed;
      width: 80%;
      border-collapse: collapse;
      /*position:relative;*/
      text-align: center;
      box-shadow: 4px 8px 12px #bde4f7;
      /*border: 3px solid purple;*/
      
    }
  
  
  div{
    display: flex;
    flex-wrap: wrap;
    margin:2%;
    /*padding: 3%;*/
  }
  
  
  
    th, td {
      padding: 20px;
      font-size: larger;
    }
  
  th{
      background-color: #1dd8c8;
      color: rgb(0, 46, 48);
  }
  
  
    tr:nth-child(odd){
      background-image: linear-gradient(180deg, #55dbd0, #b0f0f8);
    }
  
  #lang{
    font-weight: bold;
    font-size: x-large;
  }
  .grid-container {
    display: grid;
    width:1000px;
    /*align-self:center;*/
    padding: 10px;
    font-size: large;
    line-height:2rem;
   
  }

  .writing_img{
    height: auto;
    width: 800px;
  }
  
  h2{
    font-size: 30px;
  }

  li{
    margin-left: -35px;
    text-align: justify;
  }