<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>

  <!-- NAVIGATION BAR AT THE TOP -->
  <div class="logo_btn" routerLink="/home"><span class="s1">Nihongo</span><span class="s2">Studio</span></div>
  <div style="text-align:right; margin:0px auto 0px auto;">
    <span class="btn" routerLink="/home">Home</span>
   <!-- <span class="btn">Services</span>-->
    <span class="btn" routerLink="/about_us">About us</span>
    <span class="btn" routerLink="/contact_us">Contact Us</span>
    <!--<span class="btn">Log In</span> -->
   
  </div>
  <a href="https://www.jlpt.jp/e/application/overseas_list.html" target="_blank"><i class="fa fa-user-circle" aria-hidden="true" style="float: right;padding-right: 25px;font-size: 40px;color: white;"></i></a>
</mat-toolbar>
<!-- SIDENAV -->
<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" [fixedInViewport]="false">

    <button mat-button class="menu-button" routerLink="/practice">
      Practice
    </button>
    <hr>
    <button mat-button class="menu-button" routerLink="/courses">
      Courses
    </button>
    <hr>
    <button mat-button class="menu-button" routerLink="/jlptpreparation">
      JLPT Preparations
    </button>
    <hr>
    <button mat-button class="menu-button" routerLink="/findyourlevel">
      Find Your Level
    </button>
    <hr>
  </mat-sidenav>
<!--Main Content will be shown up here-->
  <mat-sidenav-content [style.left]="sidenav.opened ? '.25px' : '0'">
    <div class="content mat-elevation-z8 main_content">
      <router-outlet>
      </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>