<!-- <header fxLayoutAlign="space-between center">
   
    <mat-toolbar class="navbar">
        <div><span class="s1">Nihongo</span><span class="s2">Studio</span></div>
        <div>
          <span class="btn" routerLink="/home">Home</span>
          <span  class="btn" routerLink="/practice">Study</span>
          <span class="btn" routerLink="/about_us">About us</span>
          <span class="btn" routerLink="/contact_us">Contact Us</span>
          <span class="btn">Log In</span>
      
        </div>
      </mat-toolbar>
</header>
 -->