header{
    padding:0px;  
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.navbar{
    /* justify-content: space-between; */
    font-weight:normal;
    font-size: medium;
    /* background-color: transparent; */
    color: rgb(0, 0, 0);
    height: 60px;
    position:fixed;
    margin-left: 0px;
    
  }
  span{
    padding-right:0rem;
    
  }
  /*Logo styling*/
  .s1
  {
    color: red;
    font-weight: bold;
    padding-right: 0rem;
  }

  .s2
  {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 0%;
  }
  
  
  .btn
{
    
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 2px 15px 3px 15px;
    text-decoration: none;

}

 .navbar {
  background-color: var(--navbar-scroll);
  transition: background-color 1s ease;
  color: var(--navbar-scroll-text);
  -webkit-box-shadow: var(--navbar-scroll-shadow);
  box-shadow: var(--navbar-scroll-shadow);
} 
mat-toolbar{
  background-color:	#30D5C8; /* For browsers that do not support gradients  #30D5C8*/
  background-image: linear-gradient(180deg, #1dd8c8, #b0f0f8);
  color: white;
 margin-top: 0px;
 padding:0px;

}
