<div class="container">
    <h2>Beginner  Level Japanese Course</h2>
    <div class="begi-course-container">
        <p>Our Japanese  Grammar Review and Vocabulary Review ensure you memorise phrases and learn how to structure them in sentences. Learn everything from basic Japanese words to more advanced grammar points.</p>
        <img mat-card-image src="/assets/beginner.jpeg">
    </div>
    <mat-card-actions>
        <button mat-button>Enroll Now</button>
    </mat-card-actions>
    <mat-card>
        <p>Lesson 1 : Introduction</p>
        <p>Lesson 2 : History of japanese language</p>
        <p>Lesson 3 : Scripts</p>
        <p>Lesson 4 : Vocabulary</p>
        <p>Lesson 5 : Phrases</p>
    </mat-card>
</div>
