

h2{
    text-align: center;
}

img{
    border-radius: 5px;
    background-color: rgba(0,0,0,0.05);
    width: 20rem;
    box-shadow: 5px 5px grey;
    padding: 5px;
}

.begi-course-container{
    display: flex;
    flex-direction: row;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.container{
    padding: 15px;
}

button{
    color:#FFFFFF;
    background-color:#30D5C8;
}