
<div class="grid-container">
    <!--<mat-toolbar>
        <mat-toolbar-row>
            
            <span>Beginner Level Courses</span>
          </mat-toolbar-row>
    </mat-toolbar>-->
    <br>
    <!--<mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title class="card_header">Beginner level japanese course</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/Courses.jpeg" alt="Courses" class="course_img">
    </mat-card>-->
    <div class="container">
    <img src="/assets/Courses.jpeg" alt="Courses" style="width:100%;" class="course_img">
    <div class="glow">Beginner Level Courses</div>
</div>
    <!--<img src="/assets/Courses.jpeg" alt="Courses" class="course_img">-->
    
    <h2>Syllabus for Class 1 : Basic First Half N5 level </h2>
    
    <ul style="list-style-type:none;">
        <li>
        <h3>Basic class contents</h3>
        <p>
        This class is recommended for beginners with no or little previous knowledge of Japanese.
        Study the basic Japanese grammar and words with the main focus on the oral communication skill. The goal of this
        course is to enable you to conduct daily conversations.
    </p>
    </li>
    <br>
    <li>
        <h3> Objectives</h3>
       <ul style="list-style-type:square;">
        <li>Acquire basic conversational skills for greeting, self-introduction</li>
        <li>Acquire basic conversational skills for simple daily tasks, such as shopping or asking for directions.</li>
        <li>Write simple sentences to communicate about ones’ self and/or intentions.</li>
        <li>Read and write Hiragana and Katakana</li>
    </ul>
    <br>
    </li>
   <!-- <li>
        <h3> Brief information</h3>
       <ul style="list-style-type:square;">
           <li>Price - 5000 Rupees (100 hours)</li>
            
            <li>Term - 6 Months | 180 Minute lesson | twice a week</li>
            
        </ul>
        </li>-->
        </ul>
</div>

<div class="grid-container">

    <h2>Syllabus for Class 2 : Basic Second Half N4 level </h2>
    
    <ul style="list-style-type:none;">
        <li>
        <h3>Basic class contents</h3>
        <p>
            Study the basic Japanese grammar and words with the main focus on the oral communication skill.
            The goal of this course is to enable you to conduct the daily conversations.
    </p>
    </li>
    <br>
    <li>
        <h3> Objectives</h3>
       <ul style="list-style-type:square;">
        <li>Learn to converse in a simple but clear manner in most situations that the student may encounter at schools, shops, or banks.</li>
        <li>Learn to talk with friends in Japanese.</li>
        <li>Learn to read and write simple sentences in Japanese using a few Kanji with additional supporting materials.</li>

    </ul>
    <br>
    </li>
    <!-- <li>
       <h3> Brief information</h3>
       <ul style="list-style-type:square;">
           <li>Price - 5000 Rupees (100 hours)</li>
            
            <li>Term - 6 Months | 180 Minute lesson | twice a week</li>
            
        </li>-->
        </ul>
</div>