<div class="grid-container">
    <mat-toolbar>
        <mat-toolbar-row>
            <span>5 Popular Foods in Japan</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div>
        <p style="text-indent: 2em;text-align: justify;">
            Food is a major motivation for people choosing where to travel. It is always exciting to eat and experience
            new flavors you may never have tasted before. Japanese food, just like the language, has become famous
            worldwide thanks to their cultural exports. Many people around the world were introduced to food from the
            country through anime, manga, and Japanese films.<br>
            Today, it is easier than ever to get your hands on and try out Japanese food around the world. We will look
            at some of the most famous foods associated with Japan. Though this is just the tip of the iceberg for
            Japanese cuisine, it will act as an introduction and a short list of what to try.</p>
        <br>
        <ul style="list-style-type:none;">
            <li>
                <h2>Sushi</h2>
                <img src="assets/Sushi.jpeg" class="writing_img" alt="Sushi">
                <p>No list of popular Japanese food can be made without mentioning Sushi (寿司). Known worldwide, it
                    consists of a raw fish served on rice flavored with vinegar. However, not all sushi contains fish,
                    with varieties also including vegetables like avocado and cucumber.<br>
                    Often served with sushi is wasabi (わさび), a condiment made with Japanese horseradish that is famously
                    strong flavor. Pickled ginger is also a common inclusion, used to cleanse the palate between courses
                    and soothe the stomach. There are many varieties, some traditional Japanese but also many
                    western-developed styles. This one is a must-try for anyone visiting Japan.</p>

            </li>

            <li>
                <h2>Onigiri</h2>
                <img src="assets/Onigiri.jpeg" class="writing_img" alt="Onigiri">
                <p>Onigiri (おにぎり), also known as rice balls, are a common sight in Japanese anime. They consist of balls
                    of rice wrapped around a filling. More often than not, Onigiri are covered in seaweed which not only
                    adds to the flavor, but also helps keeps fingers clean. They come in both a round and triangular
                    shape.<br>
                    Onigiri are a savory snack, being filled with fish, roe, egg, shrimp, or pork amongst many other
                    fillings. They have a long history in the country, and can be found in almost any convenience store
                    or restaurant there. There is a variety of cheaper options for travellers on a tight budget. There
                    are also more gourmet, traditional options, so you should try a few out to find your favorite.</p>

            </li>
            <h2>Sukiyaki</h2>
            <img src="assets/Sukiyaki.jpeg" class="writing_img" alt="Sukiyaki">
            <p>Said to be very healthy, Sukiyaki (すき焼き) is a mixture of meat, vegetables and tofu in a sauce of soy,
                sugar and mirin. The dish is popular during the winter time, served with a hot pot. It is often
                accompanied with a raw egg which can be used as a dip for the meat for a richer texture and flavor.<br>
                This dish has become popular throughout Southeast Asia and many other countries where hotpot meals are
                common. It is very filling and includes a variety of vegetables. It can be eaten on its own or together
                with rice. The sauce uses many ingredients common in Japanese cuisine, giving it a very authentic
                flavor.</p>

            <li>
            </li>
            <h2>Mochi</h2>
            <img src="assets/Mochi.jpeg" class="writing_img" alt="Mochi">
            <p>While a dessert, Mochi (餅) is a popular Japanese food associated with the new year. Known as Japanese
                Rice Cake, it is made from glutinous rice. Its most common form is a steamed and filled with a sweet
                filling such as red bean. However, it can be prepared in a number of different ways, both savory and
                sweet with many different types of filling.<br>
                The way it is made is very interesting as can be seen as a performance. While traditionally made with
                whole rice, sweet rice powder is used mostly these days. Before, the steamed rice needed to be pounded
                constantly to create the desired texture. However, today it is possible to make using home appliances.
            </p>

            <li>
            </li>
            <h2>Ramen</h2>
            <img src="assets/Ramen.jpeg" class="writing_img" alt="Ramen">
            <p>Ramen (ラーメン), long associated with Japan, actually have their origins in Chinese cuisine. However, Japan
                has embraced these noodles and very much have made them their own. These are a type of soup noodles,
                served with several toppings such as meat, vegetables, and seaweed.<br>
                The stock for the soup usually is made over hours, giving it a rich flavor. This broth can be fish, soy
                or pork based, with miso used to add more taste. Char Shu style pork is a common topping, often joined
                by scallions and seaweed, though soft boiled eggs and kamaboko (蒲鉾) — sliced fish cakes — can also be
                used. There is a lot of regional variation to explore with ramen.</p>

            <li>

            </li>

        </ul>
    </div>
</div>