<mat-toolbar>
    <p>Available Courses</p>
</mat-toolbar>
<div class="courses">
    <div class="content">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="card_header">Beginner level japanese course</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="card_img" src="assets/beginner.jpeg">
            <mat-card-content>
                <p>
                    Learn to write, read and speak the language with our <b>Complete Japanese course</b>. Whether you
                    are starting out as a beginner or at a more advanced level, expect to master everything from basic
                    Japanese vocabulary to Japanese grammar.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/courses/beginner">Enroll Now</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="content">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="card_header">Lower-intermediate level japanese course</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="card_img" src="assets\JapaneseLanguage1.jpg">
            <mat-card-content>
                <p>
                    Learn to write, read and speak the language with our <b>Complete Japanese course</b>. Whether you
                    are starting out as a beginner or at a more advanced level, expect to master everything from basic
                    Japanese vocabulary to Japanese grammar.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button  routerLink="/courses/middle">Enroll Now</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="content">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="card_header">Upper-intermediate level japanese course</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="card_img" src="assets\JapaneseLanguage.jpg">
            <mat-card-content>
                <p>
                    Learn to write, read and speak the language with our <b>Complete Japanese course</b>. Whether you
                    are starting out as a beginner or at a more advanced level, expect to master everything from basic
                    Japanese vocabulary to Japanese grammar.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button  routerLink="/courses/upper">Enroll Now</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>