*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    margin-left: 14em;
    margin-right: 10em;
}


#NihongoStudio{
    display: inline;
    text-align: center;
    font-size: 23px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 70rem;
    justify-content: center;
}

img{
    width: 20rem;
    border-radius: 44px;
    box-shadow: 10px 8px #b3a8a8;
}

#para{
    display: flex;
    flex-direction: column;
    width: 40rem;
}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:25px;
    padding-top:30px;
}

.btn{
    color:#FFFFFF;
    background-color: #30D5C8;
    margin-left: 90px;
    height: 43px;
    width: 165px;
    border-radius: 15px;
    border: transparent;
    }

/* .btn{
    width: 137px;
    height: 41px;
    border-radius: 15px;
    background-color: #F8AFA6;
    border: transparent;
    top: 50%;
    margin:auto;
    display:block;
} */

.column {
    float: left;
    width: 22%;
    padding: 10px;
    margin: 5px;
    background-color: #30D5C8;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: white;
  }

  .p1{
    margin-left: 2cm;
     margin-right: 2cm;
     font-weight: normal;
     font-size: medium;
     width: auto;
  }

 /*  .intro{
    margin-left: 1cm;
     margin-right: 2cm;
     font-weight: normal;
     font-size: medium;
     width:500px;
  } */