<br>
<br>
<div class="grid-container">
    <div class="item1">
        <h1>日本語能力試験</h1>
        <h2>JLPT - Japanese Language Proficiency Test</h2>
    </div>
    <br>
    <div>
        <p>JLPT is a standardized criterion-referenced test to evaluate and certify Japanese language proficiency
            for non-native speakers, covering language knowledge, reading ability, and listening ability.The test is
            held twice a
            year in Japan and selected countries (on the first Sunday of July and December), and once a year in other
            regions (on
            the first Sunday of December).The Japanese Language Proficiency Test (JLPT) held twice a year in July &
            December at New Delhi Center.
        </p>
    </div>
    <br>
    <div >
        <table class="info">
            <tr>
                <td id="title">N5 : Basic Level</td>
                <td>
                    The ability to understand some basic Japanese.
                </td>
            </tr>

            <tr>
                <td id="title">N4 : Elementary Level</td>
                <td>
                    The ability to understand basic Japanese.
                </td>
            </tr>

            <tr>
                <td id="title">N3 : Intermediate Level</td>
                <td>
                    The ability to understand Japanese used in everyday situations
                    to a certain degree
                </td>
            </tr>

            <tr>
                <td id="title">N2 : Pre-Advanced Level</td>
                <td>
                    The ability to understand Japanese used in everyday situations,
                and in a variety of circumstances to a certain degree.
                </td>
            </tr>

            <tr>
                <td id="title">N1 : Advanced Level</td>
                <td>
                    The ability to understand Japanese used in a variety of
                circumstances.
                </td>
            </tr>

           
        </table>
    </div>
    <div class="practice_cards">

        <mat-card class="card">
          <mat-card-content>
            <mat-card-title><a href="https://www.jlpt.jp/e/application/overseas_list.html" target="_blank">Test Dates</a></mat-card-title>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="card" routerLink='/practice/1000_common_words'>
          <mat-card-content>
            <mat-card-title> Practice Questions</mat-card-title>
      
          </mat-card-content>
        </mat-card>
        <mat-card class="card" routerLink='/practice/travelling_words'>
          <mat-card-content>
            <mat-card-title>Reference Material</mat-card-title>
          </mat-card-content>
        </mat-card>
      
      </div>      
</div>



