<br>
<br>
<div class="grid-container">
    <div class="item1">
        <h1>日本語能力試験</h1>
        <h2>JLPT - Japanese Language Proficiency Test</h2>
    </div>
    <br>
    <div>
        <p>JLPT is a standardized criterion-referenced test to evaluate and certify Japanese language proficiency
            for non-native speakers, covering language knowledge, reading ability, and listening ability.The test is
            held twice a
            year in Japan and selected countries (on the first Sunday of July and December), and once a year in other
            regions (on
            the first Sunday of December).The Japanese Language Proficiency Test (JLPT) held twice a year in July &
            December at New Delhi Center.
        </p>
    </div>
    <br>
    <div >
        <table class="info">
            <tr>
                <td id="title">N5 : Basic Level</td>
                <td>
                    The ability to understand some basic Japanese.
                </td>
            </tr>

            <tr>
                <td id="title">N4 : Elementary Level</td>
                <td>
                    The ability to understand basic Japanese.
                </td>
            </tr>

            <tr>
                <td id="title">N3 : Intermediate Level</td>
                <td>
                    The ability to understand Japanese used in everyday situations
                    to a certain degree
                </td>
            </tr>

            <tr>
                <td id="title">N2 : Pre-Advanced Level</td>
                <td>
                    The ability to understand Japanese used in everyday situations,
                and in a variety of circumstances to a certain degree.
                </td>
            </tr>

            <tr>
                <td id="title">N1 : Advanced Level</td>
                <td>
                    The ability to understand Japanese used in a variety of
                circumstances.
                </td>
            </tr>

           
        </table>
    </div>
    <div class="practice_cards">

        <mat-card class="card">
          <mat-card-content>
            <mat-card-title><a href="https://www.jlpt.jp/e/application/overseas_list.html" target="_blank">Test Dates</a></mat-card-title>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="card" routerLink='/practice/1000_common_words'>
          <mat-card-content>
            <mat-card-title> Practice Questions</mat-card-title>
      
          </mat-card-content>
        </mat-card>
        <mat-card class="card" routerLink='/practice/travelling_words'>
          <mat-card-content>
            <mat-card-title>Reference Material</mat-card-title>
          </mat-card-content>
        </mat-card>
      
      </div>      
</div>



<!-- 
<h2>
    <strong>JLPT - Japanese Language Proficiency Test</strong>
</h2>

<br>
<p>JLPT is a standardized criterion-referenced test to evaluate and certify Japanese language proficiency for non-native</p>
<p>speakers, covering language knowledge, reading ability, and listening ability.The test is held twice a year in Japan</p>
<p>and selected countries (on the first Sunday of July and December), and once a year in other regions (on the first Sunday of December).</p>
<p>The Japanese Language Proficiency Test (JLPT) held twice a year in July & December at  New Delhi Center.</p>
<br>

<p><strong>N5 : Basic Level:</strong> The ability to understand some basic Japanese.</p>

<p><strong>N4 : Elementary Level:</strong>   The ability to understand basic Japanese.</p>
    
<p><strong>N3 : Intermediate Level:</strong>  The ability to understand Japanese used in everyday situations to a certain degree.</p>
    
<p><strong>N2 : Pre-Advanced Level:</strong>  The ability to understand Japanese used in everyday situations, and in a variety of circumstances to a certain degree.</p>
    
<p><strong>N1 : Advanced Level:</strong>  The ability to understand Japanese used in a variety of circumstances.</p>


<div class="btn-group" style="text-align:center;">
    <button style="margin: 16px;"><strong>Test Dates</strong></button>
    <button style="margin: 16px;"><strong>Practice Questions</strong></button>
    <button style="margin: 16px;"><strong>Reference Materials</strong></button>
  </div> -->

<!-- <div class="intro" style="text-align: center;">
    <p class="detail">Nihongo<span class="name">Studio</span></p>
    <br>
    <h2>Want to speak like Native Japanese Speaker and make great career in Japan?</h2>
    <br>
    <div class="p1">
    <p>NihongoStudio is an emerging learner focused website which offers Japanese E-learning, Study abroad,
        Recuitment support, visa service.If you want to learn most spoken dynamic language then you are a right
        platform. A user can learn more Japanese in lesser time and can become document ready for career in Japan
        with us.We are helping you to become job ready and fluent japanese speaker through excellent courses.</p>
    </div>
    </div>

<div class="row">
    <div class="square" style="text-align: center;">
        <strong>Japanese Learning</strong>
        <p>Join us on our Excluive courses and become fluent in Japanese Langugae.
            Enroll the courses and become expert in Japanese.</p>
    </div>
    <div class="square" style="text-align: center;">
        <strong>Services</strong>
        <p>We are providing counceling, Translation services, Scolarships, guiding
            about Business Etiquettes, so take benefit of these services and become ready
            to go to JAPAN.</p>
    </div>
    <div class="square" style="text-align: center;">
        <strong>Recruitment Support</strong>
        <p>Our team of experts act as your extended recruitment team to ensure smart
            hiring through accelerated time-to-hire and optimized cost-of-hire by building
            an effective talent pool.</p>
    </div>
</div>

<div class="subtext" style="text-align: center;">
    <div class="sentence"><strong>Special Guidance from "Japanese Native Speaker"<br>
            Speak things, well Trained...</strong>

        <p>Come and join special class with our Japanese Native speaker.<br>
            She lives in Japan and inspiration for many youngsters. so join<br>
            and know more about Japan and it's interesting culture with 'Anna Tatebata'.</p>
    </div>
    <div class="image">
        <img src="/assets/image1.jpg" class=center>
    </div>
</div>

<div class="row1" style="text-align: center;">
    <div class="numbers">
        <strong>1234+<br>Learners</strong>
        <strong>3<br>Courses</strong>
        <strong>10+<br>Trainers</strong>
    </div>

</div> -->