<!-- Days of the week -->
<mat-toolbar>
    <mat-toolbar-row>
        <span>Days of the week</span>
      </mat-toolbar-row>
</mat-toolbar>
<table class="center">
    <tr>
        <th>Hiragana / Katakana</th>
        <th>Romaji</th>
        <th>Meaning</th>
        <th>Kanji</th>
    </tr>
    <tr>
        <td id="lang">にちようび</td>
        <td>nichiyōbi</td>
        <td> Sunday </td>
        <td>日曜日</td>
    </tr>
    <tr>
        <td  id="lang">げつようび</td>
        <td>getsuyōbi</td>
        <td> Monday</td>
        <td>月曜日</td>
    </tr>
    <tr>
        <td  id="lang">かようび</td>
        <td>kayōbi</td>
        <td>Tuesday</td>
        <td>火曜日</td>
    </tr>
    <tr>
        <td  id="lang">すいようび</td>
        <td>suiyōbi</td>
        <td>Wednesday</td>
        <td>水曜日</td>
    </tr>
    <tr>
        <td  id="lang">もくようび</td>
        <td>mokuyōbi</td>
        <td>Thursday </td>
        <td>木曜日</td>
    </tr>
    <tr>
        <td  id="lang">きんようび</td>
        <td>kinyōbi</td>
        <td> Friday</td>
        <td>金曜日</td>
    </tr>
    <tr>
        <td  id="lang">どようび</td>
        <td>doyōbi</td>
        <td>Saturday</td>
        <td>土曜日</td>
    </tr>
</table>


<br>
<br>
<br>

<!-- Days related vocab-->
<mat-toolbar>
    <mat-toolbar-row>
        <span>Vocabulary related to days and time</span>
      </mat-toolbar-row>
</mat-toolbar>
<div>
        <table class="center">
            <tr>
                <th>Hiragana / Katakana</th>
                <th>Romaji</th>
                <th>Meaning</th>
                <th>Kanji</th>
            </tr>
            <tr>
                <td id="lang">おととい</td>
                <td>ototoi</td>
                <td>day before yesterday</td>
                <td>一昨日</td>
            </tr>
            <tr>
                <td id="lang">きのう</td>
                <td>kinō</td>
                <td>yesterday</td>
                <td>昨日</td>
            </tr>
            <tr>
                <td id="lang">きょう</td>
                <td>kyō</td>
                <td>today</td>
                <td>今日</td>
            </tr>
            <tr>
                <td id="lang">あした</td>
                <td>ashita</td>
                <td>tomorrow</td>
                <td>明日</td>
            </tr>
            <tr>
                <td id="lang">あさって</td>
                <td>asatte</td>
                <td>day after tomorrow</td>
                <td>明後日</td>
            </tr>
            <tr>
                <td id="lang">せんしゅう</td>
                <td>senshū</td>
                <td>last week </td>
                <td>先週</td>
            </tr>
            <tr>
                <td id="lang">こんしゅう</td>
                <td>konshū</td>
                <td>this week</td>
                <td>今週</td>
            </tr>
            <tr>
                <td id="lang">らいしゅう</td>
                <td>raishū</td>
                <td>next week</td>
                <td>来週</td>
            </tr>
            <tr>
                <td id="lang">せんげつ</td>
                <td>sengetsu</td>
                <td> last month </td>
                <td>先月</td>
            </tr>
            <tr>
                <td id="lang">こんげつ</td>
                <td>kongetsu</td>
                <td> this month</td>
                <td>今月</td>
            </tr>
            <tr>
                <td id="lang">らいげつ</td>
                <td>raigetsu</td>
                <td>next month </td>
                <td>来月</td>
            </tr>
            <tr>
                <td id="lang">きょねん</td>
                <td>kyonen</td>
                <td> last year </td>
                <td>去年</td>
            </tr>
            <tr>
                <td id="lang">ことし</td>
                <td>kotoshi</td>
                <td>this year</td>
                <td>今年</td>
            </tr>
            <tr>
                <td id="lang">らいねん</td>
                <td>rainen</td>
                <td>next year</td>
                <td>来年</td>
            </tr>
            <tr>
                <td id="lang">まいにち</td>
                <td>mainichi</td>
                <td> every day </td>
                <td>毎日</td>
            </tr>
            <tr>
                <td id="lang">まいしゅう</td>
                <td>maishū</td>
                <td>every week</td>
                <td>毎週</td>
            </tr>
            <tr>
                <td id="lang">まいばん</td>
                <td>maiban</td>
                <td>every night</td>
                <td>毎晩</td>
            </tr>
            <tr>
                <td id="lang">けさ</td>
                <td>kesa</td>
                <td>this morning</td>
                <td>今朝</td>
            </tr>
            <tr>
                <td id="lang">こんばん</td>
                <td>konban</td>
                <td> this evening </td>
                <td>今晩</td>
            </tr>
            <tr>
                <td id="lang">きのうの よる</td>
                <td>kinōno yoru</td>
                <td> last night </td>
                <td>昨日の夜</td>
            </tr>
            <tr>
                <td id="lang">たんじょうび</td>
                <td>tanjōb</td>
                <td> birthday </td>
                <td>誕生日</td>
            </tr>
        </table>
    </div>
