<!--Greetings-->
<mat-toolbar>
    <mat-toolbar-row>
        <span>Greetings</span>
    </mat-toolbar-row>
</mat-toolbar>
<table class="center">
    <tr>
        <th>Hiragana / Katakana</th>
        <th>Romaji</th>
        <th>Meaning</th>

    </tr>
    <tr>
        <td id="lang">こんにちは</td>
        <td>kon'nichiwa </td>
        <td>Hello</td>

    </tr>
    <tr>
        <td id="lang">こんばんは</td>
        <td>konbanwa</td>
        <td>Good evening</td>

    </tr>
    <tr>
        <td id="lang">さようなら</td>
        <td>sayōnara</td>
        <td>Goodbye</td>

    </tr>
    <tr>
        <td id="lang">また後でね</td>
        <td>mata ato de ne</td>
        <td>See you later</td>

    </tr>
    <tr>
        <td id="lang">はい</td>
        <td>hai</td>
        <td>Yes</td>

    </tr>
    <tr>
        <td id="lang">いいえ</td>
        <td>iie</td>
        <td>No</td>

    </tr>
    <tr>
        <td id="lang">ありがとうございます</td>
        <td>arigatō gozaimasu</td>
        <td>Thank You</td>

    </tr>
    <tr>
        <td id="lang">どうもありがとう！</td>
        <td>dōmo arigatō!</td>
        <td>Thanks alot</td>

    </tr>
    <tr>
        <td id="lang">ごめんなさい！</td>
        <td>gomen'nasai !</td>
        <td>Sorry!</td>

    </tr>
    <tr>
        <td id="lang">すみません</td>
        <td>sumimasen</td>
        <td>Excuse me</td>

    </tr>
    <tr>
        <td id="lang">おめでとうございます！</td>
        <td>omedetō gozaimasu ! </td>
        <td>Congratulations!</td>

    </tr>
    <tr>
        <td id="lang">いらっしゃいませ！</td>
        <td> irasshaimase !</td>
        <td>Welcome</td>

    </tr>
    <tr>
        <td id="lang">愛してます</td>
        <td>aishite masu</td>
        <td>I love you</td>

    </tr>
</table>
<br>
<br>
<br>
<!-- Vocabulary related to people and society-->
<mat-toolbar>
    <mat-toolbar-row>
        <span>Vocabulary related to people and society</span>
    </mat-toolbar-row>
</mat-toolbar>

<table class="center">
    <tr>
        <th>Hiragana / Katakana</th>
        <th>Romaji</th>
        <th>Meaning</th>
        <th>Kanji</th>
    </tr>
    <tr>
        <td id="lang">かぞく</td>
        <td>kazoku</td>
        <td>family</td>
        <td>家族</td>
    </tr>
    <tr>
        <td id="lang">ともだち</td>
        <td>tomodachi</td>
        <td>friend</td>
        <td>友達</td>
    </tr>
    <tr>
        <td id="lang">ちち</td>
        <td>chichi</td>
        <td>(my) father</td>
        <td>父</td>
    </tr>
    <tr>
        <td id="lang">おとうさん</td>
        <td>otousan</td>
        <td>(someone else's) father / dad</td>
        <td>お父さん</td>
    </tr>
    <tr>
        <td id="lang">はは</td>
        <td>haha</td>
        <td>(my) mother </td>
        <td>母</td>
    </tr>
    <tr>
        <td id="lang">おかあさん</td>
        <td>okaasan</td>
        <td>(someone else's) father / mom</td>
        <td>お母さん</td>
    </tr>
    <tr>
        <td id="lang">あに</td>
        <td>ani</td>
        <td> (my) older brother</td>
        <td>兄</td>
    </tr>
    <tr>
        <td id="lang">おにいさん</td>
        <td>oniisan</td>
        <td>(someone else's) older brother</td>
        <td>お兄さん</td>
    </tr>
    <tr>
        <td id="lang">あね</td>
        <td>ane</td>
        <td> (my) older sister</td>
        <td>姉</td>
    </tr>
    <tr>
        <td id="lang">おねえさん </td>
        <td>oneesan</td>
        <td>(someone else's) older sister</td>
        <td>お姉さん</td>
    </tr>
    <tr>
        <td id="lang">おとうと </td>
        <td>otouto</td>
        <td> younger brother</td>
        <td>弟</td>
    </tr>
    <tr>
        <td id="lang">いもうと</td>
        <td>imouto</td>
        <td> younger sister</td>
        <td>妹</td>
    </tr>
    <tr>
        <td id="lang">きょうだい</td>
        <td>kyoudai</td>
        <td>sibling</td>
        <td>兄弟</td>
    </tr>
    <tr>
        <td id="lang">むすこ</td>
        <td>musuko</td>
        <td>son</td>
        <td>息子</td>
    </tr>
    <tr>
        <td id="lang">むすめ</td>
        <td>musume</td>
        <td>daughter</td>
        <td>娘</td>
    </tr>
    <tr>
        <td id="lang">おとこ or だんせい</td>
        <td>otoko / dansē</td>
        <td> man </td>
        <td>男/男性</td>
    </tr>
    <tr>
        <td id="lang">おんな or じょせい</td>
        <td>onna / josē</td>
        <td>woman </td>
        <td>女/女性</td>
    </tr>
    <tr>
        <td id="lang">おっと</td>
        <td>otto</td>
        <td>(my) husband </td>
        <td>夫</td>
    </tr>
    <tr>
        <td id="lang">ごしゅじん</td>
        <td>goshujin</td>
        <td>(someone else's) husband</td>
        <td>ご主人</td>
    </tr>
    <tr>
        <td id="lang">つま</td>
        <td>tsuma</td>
        <td>(my) wife</td>
        <td>妻</td>
    </tr>
    <tr>
        <td id="lang">おくさん</td>
        <td>okusan</td>
        <td>(someone else's) wife</td>
        <td>奥さん</td>
    </tr>
    <tr>
        <td id="lang">りょうしん</td>
        <td>ryōshin</td>
        <td>parents</td>
        <td>両親</td>
    </tr>
    <tr>
        <td id="lang">こども</td>
        <td>kodomo</td>
        <td> child </td>
        <td>子供</td>
    </tr>
    <tr>
        <td id="lang">そふ</td>
        <td>sofu</td>
        <td>(my) grandfather</td>
        <td>祖父</td>
    </tr>
    <tr>
        <td id="lang">おじいさん</td>
        <td>ojiisan</td>
        <td>(someone else's) grandfather</td>
        <td>おじいさん</td>
    </tr>
    <tr>
        <td id="lang">そぼ</td>
        <td>sobo</td>
        <td> (my) grandmother</td>
        <td>祖母</td>
    </tr>
    <tr>
        <td id="lang">おばあさん</td>
        <td>obaasan</td>
        <td>(someone else's) grandmother</td>
        <td>おばあさん</td>
    </tr>
    <tr>
        <td id="lang">おじ</td>
        <td>oji</td>
        <td>uncle</td>
        <td>叔父</td>
    </tr>
    <tr>
        <td id="lang">おば</td>
        <td>oba</td>
        <td>aunt</td>
        <td>叔母</td>
    </tr>
    <tr>
        <td id="lang">まご</td>
        <td>mago</td>
        <td>grandchild</td>
        <td>孫</td>
    </tr>
</table>
<br>
<br>
<br>
<!-- Places -->
<mat-toolbar>
    <mat-toolbar-row>
        <span>Vocabulary related to places</span>
      </mat-toolbar-row>
</mat-toolbar>
<table class="center">
    <tr>
        <th>Hiragana / Katakana</th>
        <th>Romaji</th>
        <th>Meaning</th>
        <th>Kanji</th>
    </tr>
    <tr>
        <td id="lang">ぎんこう</td>
        <td>ginkō</td>
        <td>bank</td>
        <td>銀行</td>
    </tr>
    <tr>
        <td id="lang">ゆうびんきょく</td>
        <td>yūbinkyoku</td>
        <td>post office </td>
        <td>郵便局</td>
    </tr>
    <tr>
        <td id="lang">くすりや or やっきょく</td>
        <td>kusuriya / yakkyoku</td>
        <td>drug store</td>
        <td>薬屋/薬局</td>
    </tr>
    <tr>
        <td id="lang">びょういん</td>
        <td>byōin</td>
        <td>hospital </td>
        <td>病院</td>
    </tr>
    <tr>
        <td id="lang">かいしゃ</td>
        <td>kaisha</td>
        <td>company</td>
        <td>会社</td>
    </tr>
    <tr>
        <td id="lang">スーパー</td>
        <td>sūpā</td>
        <td>supermarket</td>
        <td>スーパー</td>
    </tr>
    <tr>
        <td id="lang">きっさてん or カフェ</td>
        <td>kissaten / kafe</td>
        <td>café</td>
        <td>喫茶店/カフェ</td>
    </tr>
    <tr>
        <td id="lang">レストラン</td>
        <td>resutoran</td>
        <td> restaurant</td>
        <td>レストラン</td>
    </tr>
    <tr>
        <td id="lang">デパート</td>
        <td>depāto</td>
        <td>department store</td>
        <td>デパート</td>
    </tr>
    <tr>
        <td id="lang">えいがかん</td>
        <td>ēgakan</td>
        <td>cinema</td>
        <td>映画館</td>
    </tr>
    <tr>
        <td id="lang">ほんや</td>
        <td>honya</td>
        <td>book store</td>
        <td>本屋</td>
    </tr>
    <tr>
        <td id="lang">はなや</td>
        <td>hanaya</td>
        <td>flower stop</td>
        <td>花屋</td>
    </tr>
    <tr>
        <td id="lang">ケーキや</td>
        <td>kēkiya</td>
        <td>cake shop </td>
        <td>ケーキ屋</td>
    </tr>
    <tr>
        <td id="lang">ラーメンや</td>
        <td>rāmenya</td>
        <td> ramen shop </td>
        <td>ラーメン屋</td>
    </tr>
    <tr>
        <td id="lang">カレーや</td>
        <td>karēya</td>
        <td> curry shop</td>
        <td>カレー屋</td>
    </tr>
    <tr>
        <td id="lang">コンビニ </td>
        <td>konbini</td>
        <td> convenience store</td>
        <td>コンビニ</td>
    </tr>
    <tr>
        <td id="lang">うち </td>
        <td>uchi</td>
        <td>home</td>
        <td>家</td>
    </tr>
    <tr>
        <td id="lang">がっこう </td>
        <td>gakkō</td>
        <td> school</td>
        <td>学校</td>
    </tr>
    <tr>
        <td id="lang">だいがく</td>
        <td>daigaku</td>
        <td>university</td>
        <td>大学</td>
    </tr>
    <tr>
        <td id="lang">アパート</td>
        <td>apaato</td>
        <td>apartment</td>
        <td>アパート</td>
    </tr>
    <tr>
        <td id="lang">トイレ / おてあらい</td>
        <td>toire / otearai</td>
        <td> toilet </td>
        <td>トイレ/お手洗い</td>
    </tr>
    <tr>
        <td id="lang">はくぶつかん</td>
        <td>hakubutsukan</td>
        <td>museum</td>
        <td>博物館</td>
    </tr>
    <tr>
        <td id="lang">こうえん</td>
        <td>kōen</td>
        <td>park</td>
        <td>公園</td>
    </tr>
    <tr>
        <td id="lang">たいしかん</td>
        <td>taishikan</td>
        <td>embassy</td>
        <td>大使館</td>
    </tr>
    <tr>
        <td id="lang">まち</td>
        <td>machi</td>
        <td>town</td>
        <td>町</td>
    </tr>
    <tr>
        <td id="lang">きたぐち</td>
        <td>kitaguchi</td>
        <td>north exit</td>
        <td>北口</td>
    </tr>
    <tr>
        <td id="lang">みなみぐち</td>
        <td>minamiguchi</td>
        <td>south exit</td>
        <td>南口</td>
    </tr>
    <tr>
        <td id="lang">ひがしぐち</td>
        <td>higashiguchi</td>
        <td>east exit</td>
        <td>東口</td>
    </tr>
    <tr>
        <td id="lang">にしぐち </td>
        <td>nishiguchi</td>
        <td>west exit</td>
        <td>西口</td>
    </tr>
</table>
