<!-- <footer >
    <mat-toolbar style="background-color:white ;" class="footer" >
        <div >NihongoStudtio<br>
         By Nashik Tech International
        </div>
      </mat-toolbar>
</footer>
 -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <footer class="footer-distributed">

  <div class="footer-left">

    <h3><span class="s1">Nihongo</span><span class="s2">Studio</span></h3>

 <!--    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">Study Material</a>
      ·
      <a href="#">Services</a>
      ·
      <a href="#">About</a>
      .
      <a href="#">Contact</a>
    </p>
 -->
 <p class="footer-company-name">Sampda | Trupti | Vivek</p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/trupti-jagtap/NihongoStudio-v1" target="_blank"><i class="fa fa-github"></i></a>
      
      
    </div>
    <br>
    <p class="footer-company-name" style="text-align: center;"><strong>NihongoStudio © 2021</strong></p>
  </div>

  <!-- <div class="footer-right">

    <p>Contact Us</p>

    <form action="#" method="post">

      <input type="text" name="email" placeholder="Email">
      <textarea name="message" placeholder="Message"></textarea>
      <button>Send</button>

    </form>

  </div> -->

</footer>