<div class="practice_cards">

  <mat-card class="card" routerLink='/practice/hiragana_katakana'>
    <mat-card-content>
      <img mat-card-image src="/assets/japan_writing.jpg">
      <mat-card-title>Hiragana and Katakana</mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" routerLink='/practice/1000_common_words'>
    <mat-card-content>
      <img mat-card-image src="/assets/Japan_Common_Words.jpg">
      <mat-card-title> 1000 common Japanese Words</mat-card-title>

    </mat-card-content>
  </mat-card>
  <mat-card class="card" routerLink='/practice/travelling_words'>
    <mat-card-content>
      <img mat-card-image src="/assets/Japan_Travel.jpg">
      <mat-card-title>Japanese Travel Vocabulary</mat-card-title>

    </mat-card-content>
  </mat-card>

  <mat-card class="card">

    <mat-card-content routerLink='/practice/numbers'>
      <img mat-card-image src="/assets/japan_numbers.jpg">
      <mat-card-title>Counting and Numbers</mat-card-title>

    </mat-card-content>
  </mat-card>


  <mat-card class="card" routerLink='/practice/days_and_months'>
    <mat-card-content>
      <img mat-card-image src="/assets/japan_day_month.jpg">
      <mat-card-title>Days and Months</mat-card-title>

    </mat-card-content>
  </mat-card>
  <mat-card class="card" routerLink='/practice/food_words'>
    <mat-card-content>
      <img mat-card-image src="/assets/japan_food.jpg">
      <mat-card-title>Japanese Food names that you should know!!</mat-card-title>

    </mat-card-content>
  </mat-card>

  

</div>



