<br>
<div class="row">
    <div class="column">
      <div class="card">
        <h3>Get In Touch</h3>
        <!-- <div id="form"> -->
          <form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput [formControl]="name" required>
              <mat-error *ngIf="name.invalid">Please enter your name</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput [formControl]="email" placeholder="email@example.com" required>
              <mat-error *ngIf="email.invalid">Please enter a valid email</mat-error>
            </mat-form-field>
            <mat-form-field>
              <br>
              <mat-label>Message</mat-label>
              <textarea matInput [formControl]="message" maxlength="256" placeholder="I'm interested in..." required></textarea>
              <mat-hint align="end"> {{message.value?.length || 0}}/256</mat-hint>
              <mat-error *ngIf="message.invalid">Please enter a message</mat-error>
            </mat-form-field>
            <button [disabled]="isLoading" class="submit" type="submit">Submit</button>
            <input [formControl]="honeypot" class="hidden" type="text" />
            <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
              <span>{{responseMessage}}</span>
            </div>
          </form>
        <!-- </div> -->
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <h3>Connect with us</h3>
        <div id="info">
            <table>
            For support or any question 
            <tr><td> <b>Address:</b> </td> <td>ABC, XYZ Road, Nashik, Maharashtra</td></tr>
            <tr><td> <b>Email:</b> </td> <td>nihongostudio@gmail.com</td></tr><br> 
            <tr><td> <b>Contact:</b> </td> <td>+91 9211111111</td></tr><br>
        </table>
        </div>
      </div>
    </div>
</div>
<br>
<div class="p1">
    <p>Nihongo Studio is an extremely powerful integrated Japanese teaching system. You can sit back and let Nihongo Studio drive your studies, or you can take control and choose every detail yourself - or you can combine both approaches.Your journy of learning Japanese will be leaded by experienced teaching staff and native japanese speaking teacher. Easy to understand video lesson and material. We will help you continue learning without giving up.
    </p>
</div>


<!-- <button class="btn1">Start learning now</button> -->
<br>
